body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.box{
    width: 100px;
    height: 100px;
    background-color: red;
    font-size:10px;
    transform: rotate(0);
    transition: all 0.5s;
.box:hover{
    transform: translate3d(3rem, 90, 0px);
}



    
}