@keyframes anamtion1{
    0%{
        transform: translateX(50px);
        background-color: blueviolet;
        margin-left: 200px;
    }
    25%{
        margin-top: 200px;
        background-color: rgba(196, 78, 43, 0.664);
    }
    50%{
        margin-top: 200px;
        background-color: rgba(11, 192, 216, 0.664);
    }
    75{
        margin-top200px
        background-color: pink;
    }
    100%{
        margin-left:0 ;
        background-color: yellow;
    }
}

div{
    width: 400px;
    height: 400px;
    background-color: blue;
    animation-name: anamtion1;
    animation-duration: 6s;
    animation-delay: 1s;
    margin-left:200px ;
    animation-iteration-count: 5;
}