.img{
  margin-top: -300px;
  margin-left: 20%;
}
/*.p{
  margin-top: 150px;
  margin-left: 40%;
  margin-right: 210px;
  font-size: 23px;
}*/
/*.div{
  background-color: gold;
  margin-left: 48%;
  margin-right: 200px;
  margin-top: -320px;
  font-size: 20px;
}*/
.h1{ 
  color: white;
  margin-left: 20px;
  font-size: 80px;
}
.h2{
  margin-top: -15px;
  color: white;
  margin-left: 20px;
}
